body {
    font-family: 'Gotu', sans-serif;
    letter-spacing: 3px;
}

.content-align-center {
    text-align: center;
}

ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: #999 !important;
}

#homepagelinks {
    height: 400px;
    font-size: 35px;
    margin-top: 100px;
    text-align: right;
    margin-right: 40px;
}

#homepagelinks a {
 color: white;
}

.navbar {
    background-color: rgba(14, 14, 14, 0.521) !important;
}

/* Sections */

/* first */
#first {
    background-image: url("/images/1stback.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-color: rgba(255, 239, 225, 0.849);
}

.bigfont {
    font-size: 65px;
}

.align {
    text-align: right;
    margin-right: 40px;
}

.jumbotron {
    background-color: rgba(189, 164, 143, 0.534)
}

/* second */
#second {
    background-color: red;
}

#third {
    background-color: green;
}

#fourth {
    background-color: yellow;
}

/* Quiz */

.border {
    border: 1px solid black;
}

#wrapper {
    margin-top: 15px;
    text-align: center;
    
}
#quiz {
    height: 100%;
    width: 100%;
    text-align: center;
}
#start {
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 100%;
    border-radius: 10px;
}

#startButton {
    background: rgb(140, 0, 255);
    border-radius: 10px;
    padding: 5px 10px;
}

#startButton:hover {
    cursor: pointer;
    background: rgb(0, 109, 128);
}
#next {
    color: #ffffff;
    padding: 6px;
    text-align: center;
    font-size: 200%;
    border-radius: 10px;
    display: none;
}

#nextButton {
    background: rgb(140, 0, 255);
    border-radius: 10px;
    padding: 5px 50px;
}
#nextButton:hover {
    cursor: pointer;
    background: rgb(0, 119, 128);
}
.choices {
    display:none;
}
#questions {
    font-size: 30px;
    padding-bottom: 10px;
   
}
.pickone {
    display: inline-block;
   
}
#results {
    display: none;
    border: 1px solid black;
    text-align: center;
    height: 100%;
    width: 100%;
}
td {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
#score {
    font-size: 150%;
    height: 70px;
}

#answersFrame {
    font-size: 25px;
    display: inline-block;
  
}

#reset {
    display: none;
}

#reset a {
    text-decoration: none;
}

/* MEDIA QUERIES */ 

@media(max-width:650px)
{
  .bigfont {
      font-size: 35px;
  }

  #homepagelinks {
    height: 500px;
    font-size: 35px;
    margin-top: 0;
    float: none;
    margin-right: 30px;
}
.align {
    text-align: center;
    margin-right: auto;
}

}