body {
    font-family: 'Gotu', sans-serif;
    letter-spacing: 3px;
}

.content-align-center {
    text-align: center;
}

h1 {
    
}

h4 {
    color: white;
}


.navbar {
    background-color: rgba(37, 14, 0, 0.397) !important;
}
.nav-item {
    color: rgb(247, 247, 247) !important;
}
.nav-item:hover {
     color:rgb(116, 116, 116) !important;
}

.border {
     width: 500px;
     float: right;
     border-top: 2px solid black;
     margin-right: 40px;
}

footer {
    color: black;
    text-align: center;
    height: 30px !important;
    border-top: 1px solid rgb(71, 29, 0);
    margin: 0 !important;
    padding: 0 !important;
}
#footer {
    padding: 7px;
    background-color: rgba(49, 24, 19, 0.822);
    color: rgb(187, 150, 141);
}

/* Sections */

/* .......first.......... */
ul {
    list-style-type: none;
}

a:hover {
    text-decoration: none;
    color: rgb(148, 145, 145) !important;
}

#homepagelinks {
    height: 200px;
    font-size: 35px;
    float: right;
    text-align: left;
    margin-top: 50px;
    margin-right: 250px;
    margin-bottom: 100px;
}

#homepagelinks a {
 color: rgba(235, 235, 235, 0.815);
}

#first {
    background-image: url("../images/homecover.png");
    background-color: rgba(189, 164, 143, 0.219);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.bigfont {
    padding-bottom: 150px;
    font-size: 65px;
    color: #fff6f2e3;
    letter-spacing: 10px;
}

.bigfont2 {
    padding-bottom: 30px;
    font-size: 65px;
    color: #fff6f2e3;
    letter-spacing: 10px;
}

.textshadow {
    text-shadow: 3px 3px #200d0034;
}

.align {
    text-align: right;
    margin-right: 40px;
}

#homepg-txt {
    float: right;
    width: 50%;
    height: 100px;
    background-color: rgba(100, 85, 73, 0.288);
    color: white;
    border: 1px solid rgb(71, 29, 0);
    border-radius: 7px;
    padding: 30px;
    margin-right: 80px;
}

/* .........second......... */
#second {
    padding: 0;
}

.jumbotron {
    background-color: rgba(189, 164, 143, 0.534);
    margin-bottom: 0;
}
.no-gutters {
    margin-right: -15px; 
    margin-left: -15px;
}

/* ............third.......... */
#third {
   padding-top: 80px;
   padding-bottom: 80px;
   height: 600px;
   line-height: 2;
}

#third img {
    padding-top: 50px;
    height: 500px;
    width: 100px;
    
}

#third figure:hover {
    background-color: rgba(187, 90, 25, 0.2);
}

#keysimg {
    width: 220px !important;
    height: 320px !important;
    margin-bottom: 20px !important;
}
#timpimg {
    width: 200px !important;
    height: 300px !important;
}
#piccimg {
    width: 200px !important;
    height: 300px !important;
}
#guitimg {
    width: 140px !important;
    height: 320px !important;
}
#brassimg {
    margin-top: 48px !important;
    width: 200px !important;
    height: 250px !important;
}
#thereminimg {
    width: 200px !important;
    height: 300px !important;
}

#examples-text {
    font-size: 25px;
    padding: 40px;
    margin: 0;
}
#examples {
    background-color: rgba(187, 90, 25, 0.2);
    border-top: 1px solid rgb(77, 34, 0);
    border-bottom: 1px solid rgb(77, 34, 0);
}

.card {
    border: none;
    background-color: rgba(116, 85, 78, 0.822);
    color: rgb(10, 10, 10);
    border-radius: 7px;
}

.card-text {
    background-color: rgb(247, 240, 229);
    padding: 10px;
    border-radius: 7px;
    line-height: 1.7;
    overflow: scroll; 
    height: 250px;
}

.card-title {
    color: rgb(247, 240, 229);
}

.card-body,
.card-body2,
.card-body3,
.card-body4,
.card-body5,
.card-body6 {
    display: none;
    padding: 15px;
}

/* ..........fourth............ */
#fourth {
   background-image: url("../images/studio.jpg");
   background-position: center; 
   background-repeat: no-repeat;
   background-size: cover;
   background-color: rgba(189, 164, 143, 0.534);
   height: 1000px;
   border-top: 2px solid rgb(77, 34, 0);
}

/* QUIZ */

#quiz {
    color: black;
    font-size: 35px;
    background-color: rgba(187, 150, 141, 0.822);
    border: 1px solid rgb(71, 29, 0);
    border-radius: 10px;
    margin-top: 200px;
    margin-right: 250px;
    margin-left: 250px;
    line-height: 2;
    padding: 30px;
}
.selected {
    color: red;
}

.inline{
    display: inline;
}

.hidden {
    display: none;
}
#quiz button {
    border-radius: 7px;
    font-size: 25px;
}
.submit:hover {
    background-color: green;
}
.next:hover {
    background-color: purple;
}
.reset:hover {
    background-color: red;
}
.redText {
    color: red;
}
.greenText {
    color: green;
}

/* Timeline */
/* code taken from https://codepen.io/web_designer_sanchit/pen/eLjvyw */
.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:auto;
  box-sizing:border-box;
}

.timeline p {
    letter-spacing: 1px;
}

.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:rgba(95, 36, 1, 0.712);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233, 113, 33, 0.2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgba(95, 36, 1, 0.712);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233, 113, 33, 0.2);
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:rgba(95, 36, 1, 0.712);
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(95, 36, 1, 0.712);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233, 113, 33, 0.2);
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(95, 36, 1, 0.712);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233, 113, 33, 0.2);
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

/* Carousel */
.carousel-inner > .carousel-item > img {
  width:100%;
  height:800px;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(49, 18, 0, 0.815); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgba(26, 9, 0, 0.815);
}


/* =========== MEDIA QUERIES ============= */ 

@media(max-width:650px)
{
.navbar {
    background-color: rgba(37, 14, 0, 0.89) !important;
}
  .bigfont {
      font-size: 35px;
      padding-top: 30px;
      padding-bottom: 70px !important;
  }

  .border {
     width: 400px;
     float: right;
     border-top: 2px solid black;
     margin-right: 0;
}
  #homepagelinks {
    height: 350px;
    font-size: 15px;
    margin-top: 0;
    float: none;
    margin-right: 5px;
    padding-bottom: 150px;
}
#homepg-txt {
    float: none;
   height: 150px; 
   width: 100%;
}
#homepg-txt p {
    font-size: 14px;
}

.align {
    text-align: center;
    margin-right: auto;
}

/* Carousel */
.carousel-inner > .carousel-item > img {
  width:100%;
  height:500px;
}

.carousel-inner{
  height: 500px;
}

/* examples mobile view */
#third {
   padding-top: 0;
   height: auto;
}

#third img {
    padding-top: 50px;
    height: 500px;
    width: 200px;
}

#keysimg {
    width: 400px;
    height: 400px !important;
}
#timpimg {
    width: 400px;
    height: 400px !important;
}
#piccimg {
    width: 400px;
    height: 300px !important;
}

#examples-text {
    font-size: 25px;
}

.card {
    width: auto !important;
    margin: 0 10px 0 10px !important;
    padding: 0 10px 0 10px !important;
}
.card-body,
.card-body2,
.card-body3,
.card-body4,
.card-body5,
.card-body6 {
    margin: 0 !important;
    padding: 5px !important;
}

/* Quiz */
#quiz {
    color: black;
    font-size: 15px;
    background-color: rgba(187, 150, 141, 0.822);
    border: 1px solid rgb(71, 29, 0);
    border-radius: 10px;
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    line-height: 2;
    padding: 10px;
}

#fourth {
    height: 600px;
}